In [ ]:
import mysql.connector
#importing database
mysql.connector.connect(
    host="localhost",
    user="root",
    password="9808676867",
    database = 'student'
    )
db = database.cursor()

In [ ]:
db.execute("SELECT * FROM student")
result = db.fetchall()
# print(result)
for x in results:
    print(x)

In [ ]:
db.execute("SELECT sn,name,total,per,grade FROM student")
result = db.fetchall()
# print(result)
for x in results:
    print(x)

In [ ]:
# db.execute("SELECT * FROM student where grade = 'A'")
db.execute("SELECT * FROM student where per > 80")
result = db.fetchall()
# print(result)
for x in results:
    print(x)

In [ ]:
db.execute("SELECT * FROM student where name = 'Rakesh'")
result = db.fetchall()
# print(result)
for x in results:
    print(x)

In [ ]:
# insert
English = int(input("Enter English ="))
Physics = int(input("Enter Physics ="))
Math = int(input("Enter Math ="))
Nepali = int(input("Enter Nepali ="))
Chemistry = int(input("Enter Chemistry ="))

total = English + Physics + Math + Nepali + Chemistry

per = total/500*100

if per >= 80:
    grade = 'A'
elif per >=60:
    grade = 'B'
elif per >=45:
    grade = 'C'
else:
    grade = 'F'
    
    
    sql = '''INSERT INTO student(name,physics,chemistry,math,english,nepali,total,per,grade) 
        Values ('Nabin',90, 78, 67, 99, 90, 400, 75, 'A')'''
    db.execute(sql)
database.commit()

In [ ]:
# update
name = input("Enter name = ")
sn = int(input("Enter sn = "))
sql = f"UPDATE student SET name '{name}' WHERE sn =