In [12]:
a = 10
print(a)

10

In [13]:
a = 10                #int
b = 10.5              #float
c = "Hello World"     #str 
d = True              #boolean
# print(a)
# print(b)
# print(c)
# print(d)
print(a,b,c,d)

10 10.5 Hello World True

In [19]:
a = 10                
b = 10.5              
c = "Hello World"     
d = True
e = 2 +2j
# print(type(a))
# print(type(b))          
# print(type(c))
# print(type(d))
# print(type(e))
print(type(a),type(b),type(c),type(d),type(e))

(2+2j)
<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'complex'>

In [3]:
# operators
# + - * / ** // %

In [8]:
a = 10
b = 3

c = a+b
print(c)

c = a-b
print(c)

c = a*b
print(c)

c = a/b
print(c)

c = a**b
print(c)

c = a//b
print(c)

c = a%b
print(c)

13
7
30
3.3333333333333335
1000
3
1

In [7]:
a = "Hello "
b = "world"
c = a+b
print(c)

Hello world

In [4]:
a = "Hello world"
print(a*2)

Hello worldHello world

In [10]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''

print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [9]:
a = "10"
b = "20"
print(a+b)

1020

In [15]:
a = True
b = False
c = a + b
print(c)

1

In [16]:
a = True
b = False
c = a * b
print(c)

0

In [2]:
# user defined
a = input()

10

In [3]:
a = input("Enter a =")
print(a)

Enter a =20
20

In [4]:
a = input("Enter a =")
b = input("Enter b =")
c = a+b
print(c)

Enter a =20
Enter b =25
2025

In [5]:
a = int(input("Enter a ="))
b = int(input("Enter b ="))
c = a+b
print(c)

Enter a =20
Enter b =30
50

In [6]:
p = int(input("Enter p ="))
t = float(input("Enter t ="))
r = float(input("Enter r ="))

i  = p*t*r/100

print("The value of i =",i)

Enter p =4000
Enter t =2
Enter r =3
The value of i = 240.0

In [2]:
English = int(input("Enter English ="))
Physics = int(input("Enter Physics ="))
Math = int(input("Enter Math ="))
Nepali = int(input("Enter Nepali ="))
Chemistry = int(input("Enter Chemistry ="))

total = English + Physics + Math + Nepali + Chemistry
per = total/500*100

print("The Total Marks =",total)
print("The Per =",per)

Enter English =60
Enter Physics =70
Enter Math =65
Enter Nepali =72
Enter Chemistry =78
The Total Marks = 345
The Per = 69.0

In [3]:
# into to str conversion str() int() float() bool()
a = "10"
b = int(a)
b

10

In [4]:
a = "10"
b = str(a)
b

'10'

In [5]:
a = "10.5"
b = float(a)
b

10.5

In [6]:
a = "10"
b = float(a)
b

10.0

In [8]:
a = 0
b = bool(a)
b

False

In [9]:
a = 10
b = bool(a)
b

True

In [10]:
a = "10"
b = bool(a)
b

True

In [11]:
a = ""
b = bool(a)
b

False

In [12]:
a = -10
b = bool(a)
b

True

In [17]:
name = input("Enter name =")
age = int(input("Enter age ="))
add = input("Enter add =")

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Enter name =Dinesh
Enter age =24
Enter add =Kathmandu
Hello World I am Dinesh I am from Kathmandu I am 24