In [ ]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

In [ ]:
a = 'Hello '
b = 'World'
c = a + b
print(c)

In [ ]:
a = "Hello World\n"
print(a*2)

In [20]:
a = input("Enter a = ")
print(a)

Enter a =Hello
Hello

In [1]:
a = "Hello World"
print(a[0])
print(a[0:5])
print(a[0:10:2])

H
Hello
HloWr

In [2]:
a = "Hello World"
a[-2]

'l'

In [1]:
a = "Hello World"
print(a[-1:-12:-1])
print(a[::-1])

dlroW olleH
dlroW olleH

In [5]:
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i],end = "")

Hello World

In [21]:
# string formatting
name = "Ram"
age = 34
add = "Kathmandu"

info = "Hello world I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Hello world I am Ram I am from Kathmandu I am 34

In [22]:
# string formatting
name = input(("Enter name = "))
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Enter name = Dinesh
Enter age = 24
Enter add = Kathmandu
Hello World I am Dinesh. I am from Kathmandu. I am 24

In [8]:
i = 0
bill = ""
all_total = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter quantity = "))
    total = price * qty
    bill = bill + f"{name} {price} {qty} {total}\n"
    all_total = all_total + total
    i = i+1
print(bill)

Enter n = 1
Enter name = apple
Enter price = 24
Enter quantity = 2
apple 24 2 48

In [11]:
# search
a = "Ram Shyam Hari Sita Nabin Ram Akash"
name = input("Enter name = ")
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("The is no",name)

Enter name = ram
There is no ram

In [23]:
a = "Ram Shyam Hari Sita Nabin Ram Akash Ramesh"
print(a.upper())

a = "Ram Shyam Hari Sita Nabin Ram Akash Ramesh"
print(a.lower())

print(a)

RAM SHYAM HARI SITA NABIN RAM AKASH RAMESH
ram shyam hari sita nabin ram akash ramesh
Ram Shyam Hari Sita Nabin Ram Akash Ramesh

In [24]:
# search
a = "Ram Shyam Hari Sita Nabin Ram Akash Ramesh".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("The is no",name)

Enter name = a
Yes
9

In [25]:
# replace
a = "Ram Shyam Hari Sita Nabin Ram Akash Ramesh"
a = a.replace("Ram","ram")
print(a)

ram Shyam Hari Sita Nabin ram Akash ramesh

In [13]:
# replace
a = "Ram Shyam Hari Sita Nabin Ram Akash Ramesh"
a = a.replace("Ram ","ram ")
print(a)

ram Shyam Hari Sita Nabin ram Akash

In [15]:
a = "Ram Shyam Hari Sita Nabin Ram Akash Ramesh"
a.replace("Ram ","")

'Shyam Hari Sita Nabin Akash'

In [18]:
# title() split()
a = "ram shyam hari sita nabin ram akash"
a.title()

'Ram Shyam Hari Sita Nabin Ram Akash'

In [19]:
a = "ram shyam hari sita nabin ram akash"
a.split()

['ram', 'shyam', 'hari', 'sita', 'nabin', 'ram', 'akash']

In [ ]:
a = "Hello World"
l = len(a)
i = 0
while i<1:
    print()