In [ ]:
# # tuple
# -Indexing
# -Ordered
# -Multple and duplicate data
# -Imutable

In [1]:
a = (1,2,3,4,5,6,7,8,9)
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [3]:
a = ("Apple", "Ball","Cat","Fish","Gota","Apple")
print(a[0])
print(a[0:5])
print(a[0:6:2])

Apple
('Apple', 'Ball', 'Cat', 'Fish', 'Gota')
('Apple', 'Cat', 'Gota')

In [ ]:
gender = ("Male","Female","other")

In [5]:
a = ("Apple",)
#a = tuple()
print(type(a))

<class 'tuple'>

In [ ]:
# No append() insert() extend()
# No update
# No sort()
# No del remove() pop()

In [6]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t + (x,)
print(t)

Enter n = 2
Enter x = 25
Enter x = 35
(25, 35)

In [8]:
a = (234,35,446,85,46,245,105,150)
print(min(a))
print(max(a))
print(sum(a))

35
446
1346

In [10]:
a = (234,35,446,85,46,245,105,150)
b = list(a)
b

[234, 35, 446, 85, 46, 245, 105, 150]

In [11]:
a = (234,35,446,85,46,245,105,150)
b = list(a)
del b[0]
a = tuple(b)
print(a)

(35, 446, 85, 46, 245, 105, 150)

In [2]:
# tuple inside list
l = [(1,2,3),
    (4,5,6,7),
    (8,9,0)]
l

[(1, 2, 3), (4, 5, 6, 7), (8, 9, 0)]

In [4]:
# list inside tuple
t = ([1,2,3],
    [4,5,6],
    [7,8,9])
t

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [5]:
# tuple inside tuple
t = ((1,2,3),
    (4,5,6),
    (7,8,9))
t

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [11]:
data = []
l = list(t)
for i in l:
    data.append(list(i))
    
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [1]:
# WAP to convert list inside list to tuple inside tuple

a = [[1,2,3],[4,5,6],[7,8,9]]
t = tuple()
for i in a:
    t = t + (tuple(i),)
    
print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))